<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Porcentagens e Líderes</title>
</head>
<body>
    <h2>Inserir Porcentagens</h2>
    <form action="/" method="post">
        <!-- Região 1 -->
<fieldset>
    <legend>Região 1</legend>
    <label for="region1_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region1_Infra" name="region1_Infra" min="0" max="100" step="0.1">
    <label for="region1_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region1_Zeladoria" name="region1_Zeladoria" min="0" max="100" step="0.1">
    <label for="region1_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region1_Seguranca" name="region1_Seguranca" min="0" max="100" step="0.1">
    </fieldset>
    
    <!-- Região 2 -->
    <fieldset>
    <legend>Região 2</legend>
    <label for="region2_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region2_Infra" name="region2_Infra" min="0" max="100" step="0.1">
    <label for="region2_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region2_Zeladoria" name="region2_Zeladoria" min="0" max="100" step="0.1">
    <label for="region2_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region2_Seguranca" name="region2_Seguranca" min="0" max="100" step="0.1">
    </fieldset>
    
    <!-- Região 3 -->
    <fieldset>
    <legend>Região 3</legend>
    <label for="region3_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region3_Infra" name="region3_Infra" min="0" max="100" step="0.1">
    <label for="region3_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region3_Zeladoria" name="region3_Zeladoria" min="0" max="100" step="0.1">
    <label for="region3_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region3_Seguranca" name="region3_Seguranca" min="0" max="100" step="0.1">
    </fieldset>
    
    <!-- Região 4 -->
    <fieldset>
    <legend>Região 4</legend>
    <label for="region4_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region4_Infra" name="region4_Infra" min="0" max="100" step="0.1">
    <label for="region4_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region4_Zeladoria" name="region4_Zeladoria" min="0" max="100" step="0.1">
    <label for="region4_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region4_Seguranca" name="region4_Seguranca" min="0" max="100" step="0.1">
    </fieldset>
    
    <!-- Região 5 -->
    <fieldset>
    <legend>Região 5</legend>
    <label for="region5_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region5_Infra" name="region5_Infra" min="0" max="100" step="0.1">
    <label for="region5_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region5_Zeladoria" name="region5_Zeladoria" min="0" max="100" step="0.1">
    <label for="region5_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region5_Seguranca" name="region5_Seguranca" min="0" max="100" step="0.1">
    </fieldset>
    
    <!-- Região 6 -->
    <fieldset>
    <legend>Região 6</legend>
    <label for="region6_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region6_Infra" name="region6_Infra" min="0" max="100" step="0.1">
    <label for="region6_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region6_Zeladoria" name="region6_Zeladoria" min="0" max="100" step="0.1">
    <label for="region6_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region6_Seguranca" name="region6_Seguranca" min="0" max="100" step="0.1">
    </fieldset>
    
    <!-- Região 7 -->
    <fieldset>
    <legend>Região 7</legend>
    <label for="region7_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region7_Infra" name="region7_Infra" min="0" max="100" step="0.1">
    <label for="region7_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region7_Zeladoria" name="region7_Zeladoria" min="0" max="100" step="0.1">
    <label for="region7_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region7_Seguranca" name="region7_Seguranca" min="0" max="100" step="0.1">
    </fieldset>
    
    <!-- Região 8 -->
    <fieldset>
    <legend>Região 8</legend>
    <label for="region8_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region8_Infra" name="region8_Infra" min="0" max="100" step="0.1">
    <label for="region8_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region8_Zeladoria" name="region8_Zeladoria" min="0" max="100" step="0.1">
    <label for="region8_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region8_Seguranca" name="region8_Seguranca" min="0" max="100" step="0.1">
    </fieldset>
    
    <!-- Região 9 -->
    <fieldset>
    <legend>Região 9</legend>
    <label for="region9_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region9_Infra" name="region9_Infra" min="0" max="100" step="0.1">
    <label for="region9_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region9_Zeladoria" name="region9_Zeladoria" min="0" max="100" step="0.1">
    <label for="region9_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region9_Seguranca" name="region9_Seguranca" min="0" max="100" step="0.1">
    </fieldset>
    
    <!-- Região 10 -->
    <fieldset>
    <legend>Região 10</legend>
    <label for="region10_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region10_Infra" name="region10_Infra" min="0" max="100" step="0.1">
    <label for="region10_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region10_Zeladoria" name="region10_Zeladoria" min="0" max="100" step="0.1">
    <label for="region10_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region10_Seguranca" name="region10_Seguranca" min="0" max="100" step="0.1">
    </fieldset>
    
    <!-- Região 11 -->
    <fieldset>
    <legend>Região 11</legend>
    <label for="region11_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region11_Infra" name="region11_Infra" min="0" max="100" step="0.1">
    <label for="region11_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region11_Zeladoria" name="region11_Zeladoria" min="0" max="100" step="0.1">
    <label for="region11_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region11_Seguranca" name="region11_Seguranca" min="0" max="100" step="0.1">
    </fieldset>
    
    <!-- Região 12 -->
    <fieldset>
    <legend>Região 12</legend>
    <label for="region12_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region12_Infra" name="region12_Infra" min="0" max="100" step="0.1">
    <label for="region12_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region12_Zeladoria" name="region12_Zeladoria" min="0" max="100" step="0.1">
    <label for="region12_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region12_Seguranca" name="region12_Seguranca" min="0" max="100" step="0.1">
    </fieldset>
    
    <!-- Região 13 -->
    <fieldset>
    <legend>Região 13</legend>
    <label for="region13_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region13_Infra" name="region13_Infra" min="0" max="100" step="0.1">
    <label for="region13_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region13_Zeladoria" name="region13_Zeladoria" min="0" max="100" step="0.1">
    <label for="region13_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region13_Seguranca" name="region13_Seguranca" min="0" max="100" step="0.1">
    </fieldset>
    
    <!-- Região 14 -->
    <fieldset>
    <legend>Região 14</legend>
    <label for="region14_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region14_Infra" name="region14_Infra" min="0" max="100" step="0.1">
    <label for="region14_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region14_Zeladoria" name="region14_Zeladoria" min="0" max="100" step="0.1">
    <label for="region14_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region14_Seguranca" name="region14_Seguranca" min="0" max="100" step="0.1">
    </fieldset>
    
    <!-- Região 15 -->
    <fieldset>
    <legend>Região 15</legend>
    <label for="region15_Infra">Porcentagem Infraestrutura:</label>
    <input type="number" id="region15_Infra" name="region15_Infra" min="0" max="100" step="0.1">
    <label for="region15_Zeladoria">Porcentagem Zeladoria:</label>
    <input type="number" id="region15_Zeladoria" name="region15_Zeladoria" min="0" max="100" step="0.1">
    <label for="region15_Seguranca">Porcentagem Segurança:</label>
    <input type="number" id="region15_Seguranca" name="region15_Seguranca" min="0" max="100" step="0.1">
    </fieldset> 

        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>